includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

rules:
    - Localheinz\PHPStan\Rules\Expressions\NoErrorSuppressionRule
    - Localheinz\PHPStan\Rules\Expressions\NoEvalRule
    - Localheinz\PHPStan\Rules\Files\DeclareStrictTypesRule
    - Localheinz\PHPStan\Rules\Methods\PrivateInFinalClassRule
    - PHPStan\Rules\Cast\UselessCastRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
    - PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
    - PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
    - PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
    - PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
    - PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
    - PHPStan\Rules\VariableVariables\VariableVariablesRule

services:
    -
        class: PHPStan\Rules\Operators\OperatorRuleHelper
